* {
    font-weight: 400;
    font-style: normal;
}

a,
a:hover {
    text-decoration: none;
    color: #000;
}

body {
    min-height: 100vh;
    font-family: "CocoSharp" !important;
}

/* --------------- */


/* menu-top */
header {
    position: relative;
    z-index: 99;
}

#top_left_menu,
.menu_languages {
    display: flex;
    align-items: center;
}

#header_nav_top {
    background: #FAFAFA;
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    top: 0px;
    transition: all .3s linear;
}

#header_nav_top ul {
    line-height: 0;
}

#top_left_menu {
    justify-content: space-between;
}

.menu_languages {
    justify-content: flex-end;
}

#top_left_menu a,
.menu_languages a {
    line-height: 12px;
    font-weight: 400;
    font-size: 12px;
    color: #323232;
    margin-right: 10px;
}

#top_left_menu a {
    display: inline-block;
}

.menu_languages a {
    font-weight: 600;
    box-shadow: 0 2px 14px -10px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    padding: 8px;
    color: #0009;
    border-radius: 5px;
    background-color: #ffffff;
}

/* ------------------- */

/* menu-bottom */
#logo {
    display: flex;
    align-items: center;
}

#logo a:nth-child(1) {
    margin-right: 25px;
}

#logo img {
    width: 100%;
}

#bottom_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#bottom_menu>li {
    margin-right: 8px;
}

#bottom_menu a {
    font-size: 15px;
}

#header_nav_bottom {
    position: fixed;
    top: 52px;
    padding: 20px 0px;
    width: 100%;
    transition: all .3s linear;
}

#tel {
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    color: #fff;
    padding: 12px 15px;
}

#tel i {
    font-size: 18px;
}

#tel span {
    font-size: 26px;
}

.submenu,
.dropdown_menu {
    position: relative;
}

.dropdown_menu {
    position: absolute;
    min-width: 260px;
    background: #fff;
    left: 50%;
    transform-origin: top;
    transform: scale(1, 0) translateX(-50%);
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, .16) 0px 28px 52px 0px;
    top: 40px;
    border-radius: 10px;
    transform: scale(1, 0) translateX(-50%);
    transition: all .3s ease;
}

.second_dropdown_menu {
    box-shadow: rgba(0, 0, 0, .16) 0px 28px 52px 0px;
    background: #fff;
    display: none;
    border-radius: 10px;
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 260px;
}

.dropdown_menu_item a {
    padding-left: 20px;
    overflow: hidden;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 25px;
}

.dropdown_menu li:hover {
    background-color: #f5f5f5;
}

.dropdown_menu>li:hover .second_dropdown_menu {
    display: block;
}

.submenu:hover .dropdown_menu {
    transform: scale(1, 1) translateX(-50%);
}

.submenu>a {
    padding: 30px 0px;
    color: #fff;
}

#own_cabinet,
#join_now {
    background-color: #fff;
    border-radius: 10px;
    transition: all .3s;
    text-align: center;
    border: 2px solid #3FDC5B;
}

#own_cabinet {
    border-color: #fff;
}

#own_cabinet span {
    margin-top: 3px;
}

#join_now a,
#own_cabinet a {
    padding: 10px 10px;
    display: flex;
    align-items: center;
}

#own_cabinet img,
#join_now img {
    width: 25px;
    margin-left: 4px;
    transition: all .3s linear;
}

#join_now img {
    filter: invert(1);
    margin-left: 8px;
}

#own_cabinet:hover {
    background: transparent;
}

#own_cabinet:hover a {
    color: #fff;
}

#own_cabinet:hover img {
    filter: invert(1);
}

#join_now {
    background-color: #3FDC5B;
}

#join_now a {
    color: #fff;
}

#join_now:hover {
    background-color: #3ec356;
}



/* ------------------- */

#mobile_nav,
#mob_menu {
    display: none;
}


/* recipes - tarifler */
#recipes {
    background: #FBFBFB;
    padding: 60px 0px;
}

.cards {
    padding: 50px 0px;
}

.title h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.title p {
    font-size: 19px;
    line-height: 27px;
}

.blog-titles {
    display: flex;
    justify-content: flex-end;
}

.blog-title {
    cursor: pointer;
    padding: 10px;
}

.card-container {
    display: none;
}

#recipes .card-container.active {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.blog-title.active {
    border-bottom: 1px solid;
}

.card {
    overflow: hidden;
    background-color: #fff;
    border-radius: 12px;
    width: 32%;
    box-shadow: 20px 20px 64px 0 rgba(0, 0, 0, .09);
    transition: all .4s ease-in-out;
}

.card:hover {
    box-shadow: 20px 20px 64px 0 rgba(0, 0, 0, .14);
}

.cards .card-title {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cards .card-title h3 {
    font-size: 24px;
    font-weight: 900;
    line-height: 1.29;
    color: #fff;
}

.packet_sort {
    font-size: 12px;
    line-height: 1.42;
    text-align: center;
    border-radius: 13px;
    background: #f1f1f1;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
}

.card-range {
    position: relative;
    width: 90%;
    margin: 0px auto;
    padding-bottom: 30px;
}

label.range-num {
    position: absolute;
    bottom: 20px;
    color: #fff;
    font-size: 16px;
}

label.range-start {
    left: 0;
}

label.range-end {
    right: 0;
}

.range-lines {
    position: relative;
    top: -16.5px;
    width: 48%;
    margin: 0px auto;
    justify-content: space-between;
    display: flex;
    pointer-events: none;
}

.range-lines .range-line {
    display: inline-block;
    width: 1px;
    height: 13px;
    background-color: #9a9a9a;
}

.recipe-desc {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 120px;
    padding: 40px;
}

.recipe-desc p:nth-child(1) {
    color: #31bd5d;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
}

.recipe-price {
    margin-right: 4px;
}

.card-top,
.recipe-desc {
    border-bottom: 1px solid #3333;
}

.card-top {
    background-color: #fb315f;
    position: relative;
    overflow: hidden;
}

.card-top img {
    width: 291px;
    position: absolute;
    right: -78px;
    top: -53px;
    z-index: 0;
    filter: grayscale(100) brightness(100);
}

.join-packet {
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.join-packet a {
    display: inline-flex;
    align-items: center;
    padding: 18px 42px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 13px;
    width: 45%;
    font-size: 18px;
    text-align: center;
    justify-content: space-between;
    transition: all 0.3s linear 0s;
}

.join-packet a:nth-child(1) {
    background-color: #EA1D24;
    color: #fff;
    border: 2px solid;
}

.join-packet a:nth-child(2) {
    background-color: #fb315f;
    color: #fff;
    padding-left: 30px;
}

.join-packet a:nth-child(2) span {
    white-space: nowrap;
    margin-right: 3px;
}

.join-packet a:hover {
    background-color: #d5242a;
    color: #fff;
}

.join-packet a img {
    filter: invert(1);
}

.join-packet img {
    width: 15px;
    transition: all .3s linear;
    margin-left: 3px;
}

/* ------------------- */


/* two services */

#two_services {
    background: url(../img/bgtwoservices.jpg) center/cover no-repeat;
    padding: 30px 0px;
}

#two_services h2 {
    font-size: 52px;
    line-height: 1.13;
    margin: 0 0 16px;
    font-weight: 700;
    color: #fff;
}

#title_desc {
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}

#title_desc p {
    max-width: 456px;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    opacity: .7;
    margin: 0 0 40px;
}

#title_desc a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 80px;
    color: #fff;
    background-color: #EA1D24;
    border-radius: 30px;
    transition: all .3s linear;
}

#side_services {
    display: flex;
    flex-direction: column;
}

#side_services .service_item {
    height: 300px;
    padding: 32px;
    position: relative;
    border-radius: 16px;
    /* margin: 15px 0px; */
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: flex-end;
    overflow: hidden;
}

#side_services .service_item img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: all .2s linear;
    object-fit: cover;
}

#side_services .service_item:hover img {
    transform: scale(1.2);
}

#side_services h3,
#side_services p,
#side_services span {
    position: relative;
    z-index: 2;
}

#side_services .service_item h3 {
    font-size: 2rem;
    ;
    font-weight: 700;
    color: #fff;
}

#side_services .service_item p {
    color: #fff;
    margin: 20px 0px;
    max-width: 350px;
}

#side_services .service_item span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 15px 80px;
    background-color: #EA1D24;
    border-radius: 30px;
    transition: all .3s linear;
}

#side_services .service_item:hover span,
#title_desc a:hover {
    background-color: #bc1d23;
}

#side_services .text-white {
    font-size: 85px;
}

/* ------------------- */



/* innovations - yenilikler */

#innovations {
    padding: 60px 0px;
    background-color: #FBFBFB;
}

#innovations .owl-item {
    height: 450px;
}

#innovations .owl-item-img {
    height: 70%;
    overflow: hidden;
}

#innovations .owl-item-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all .2s linear;
}

#innovations .owl-item:hover img {
    transform: scale(1.2);
}

#innovations .owl-item-desc {
    background-color: #edededc9;
    width: 100%;
    padding: 2rem 2rem 1.5rem;
    height: 30%;
}

#innovations .owl-item-desc h3 {
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    font-size: 18px;
}

#innovations .owl-item-desc p {
    opacity: .3;
}

#innov_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

#innov_title h2 {
    font-size: 2rem;
}

#innov_title a {
    font-size: 18px;
    transition: all .3s linear;
}

#innov_title a:hover {
    opacity: .5;
}

/* ------------------- */



/* services */
#services {
    padding: 60px 0px;
    background-color: #f2f2f2;
}

#services h2 {
    font-size: 2rem;
    font-weight: 700;
}

.services_nav .slick-prev,
.services_nav .slick-next {
    width: 60px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 35px;
    opacity: 1;
    color: #332B2B;
    top: 0px;
    bottom: -3px;
    right: auto;
    z-index: 3;
    overflow: hidden;
    position: absolute;
}

.services_nav .slick-prev {
    left: -60px;
}

.services_nav .slick-next {
    right: -60px;
}

.services_nav .slick-arrow {
    width: 50px;
    height: 50px;
}

#services .services_nav h3 {
    font-size: 16px;
    padding: 18px 7px 16px 7px;
    border-radius: 35px;
    font-weight: 500;
    background: rgb(51 43 43 / 3%);
    cursor: pointer;
    margin: 0;
    letter-spacing: -.4px;
    transition: all ease .3s;
    text-align: center;
}

.services_nav .slick-slide {
    margin: 0px 5px;
}

.services_nav_for article h2 {
    margin-bottom: 20px;
}

.services_nav {
    max-width: calc(100% - 110px);
    margin: 40px auto;
}

#services .slick-current.slick-active h3 {
    background: #EA1D24;
    color: #FFFCF8;
}

#services .services_nav .slick-prev:before,
#services .services_nav .slick-next:before {
    content: "\f060";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #EA1D24;
    top: 0;
    transition: all 0.3s;
    color: #fff;
    border-radius: 100%;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    z-index: 1;
}

#services .services_nav .slick-prev:before {
    right: -100%;
}

#services .services_nav .slick-next:before {
    left: -110%;
    transform: rotate(180deg);
}

#services .services_nav .slick-prev:hover:before {
    right: 0;
}

#services .services_nav .slick-next:hover:before {
    left: 0;
}

#services .services_nav_for {
    background-color: #fff;
    border-radius: 25px;
}

.services_nav_for article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
}

.services_nav_for article h2 {
    font-size: 26px;
    margin-bottom: 20px;
    letter-spacing: -1px;
    font-weight: 700;
    color: #332B2B;
    opacity: 0;
    transition: all 0.3s;
    transform: translateY(40px)
}

.services_nav_for article p {
    font-size: 16px;
    margin-bottom: 35px;
    opacity: 0;
    transition: all 0.3s;
    line-height: 23px;
    transform: translateY(40px);
}

.services_nav_for article a {
    opacity: 0;
    transition: all 0.3s;
    transform: translateY(40px);
    background-color: #EA1D24;
    color: #fff;
    padding: 15px 60px;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
}

.services_nav_for article a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    border-radius: 20%;
    transition: all .2s linear;
    background-color: #bc1d23;
    z-index: -1;
}

.services_nav_for article a:hover::before {
    left: 0px;
}

.service_item_img {
    transform: translateX(-110px);
    transition: all .3s;
    opacity: 0;
}

.service_item_img img {
    width: 100%;
}

#services .services_nav_for .slick-slide.slick-current.slick-active article h2 {
    opacity: 1;
    transition-delay: .2s;
    transform: translateY(0px)
}

#services .services_nav_for .slick-slide.slick-current.slick-active article p {
    opacity: .8;
    transition-delay: .4s;
    transform: translateY(0px);
}

#services .services_nav_for .slick-slide.slick-current.slick-active article a {
    opacity: 1;
    transition-delay: .6s;
    transform: translateY(0px);
}

#services .services_nav_for .slick-slide.slick-current.slick-active .service_item_img {
    opacity: 1;
    transition-delay: .2s;
    transform: translateX(0px) scale(0.8);
}

#services .services_nav_for .slick-list {
    height: 400px;
}

/* ------------------- */


/* Payment */

#payment {
    padding: 60px 0px;
}

#payment h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

#payment .title_desc {
    font-size: 20px;
    margin: 20px 0px 30px;
    line-height: 25px;
}

.pay_box_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pay_box_top img {
    width: 80px;
    object-fit: cover;
}

.pay_box_top div {
    display: flex;
    align-items: center;
}
.pay_way {
    background-color: #A6A6A6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 5px 20px;
    border-radius: 25px;
    font-size: 15px;
}

.pay_box_bottom h5 {
    font-size: 19px;
    margin-top: 15px;
}

.pay_item {
    min-height: 150px;
    padding: 16px 23px 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    border: 1px solid #e0dddd;
    transition: all .3s linear;
    width: 32.5%;
    margin-top: 20px;
}

.pay_item_desc {
    margin-top: 15px;
    line-height: 20px;
    font-size: 15px;
}

.pay_item:hover {
    transform: translateY(-10px);
}




/* ------------------- */

/* MyConnect App */
#app {
    padding: 60px 0px;
    background-color: #f2f2f2;
}

#app h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.app_content {
    padding-left: 75px;
}

.app_content>p {
    font-size: 25px;
    line-height: 30px;
    margin: 0px 0px 25px;
    max-width: 90%;
}

#app .app_img {
    width: 100%;
}

.app_content h5 {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
}

.app_content .qrcode {
    width: 110px;
    height: 110px;
    object-fit: cover;
}

/* ------------------- */


/* calltoaction */

#call_section {
    background-color: #f2f2f2;
    overflow: hidden;
    padding: 0px 0px 60px;
}

#call-to-action {
    padding: 100px;
    background-color: #EA1825;
    border-radius: 15px;
}

#call-to-action h2 {
    font-size: 44px;
    line-height: 60px;
    font-weight: 700;
    color: #fff;
}

#call-to-action p {
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    margin-top: 16px;
}

.call-img img {
    position: relative;
    z-index: 2;
    width: 100%;
}

.call-img {
    position: relative;
}

.call-img::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 130%;
    background-color: #fff3;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 0;
    padding-top: 100%;
}

#call-to-action a {
    margin-top: 40px;
    padding: 15px 60px;
    background-color: #fff;
    color: #EA1825;
    display: inline-flex;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    transition: all .3s linear;
}

#call-to-action a:hover {
    background-color: #f1f1f1;
}

/* ------------------- */

/* footer */

footer {
    padding: 72px 0px;
    border-top: 1px solid #0002;
}

footer h3 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 16px;
}

.foot-menu li a {
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.55);
    margin-bottom: 16px;
    transition: all .3s linear;
}

.foot-menu li a:hover {
    color: #000;
}

#footer-top .container {
    border-bottom: 1px solid #0002;
    padding-bottom: 40px;
}

#footer-bottom {
    padding-top: 40px;
}

#foot-logo {
    display: flex;
    align-items: center;
}

#foot-logo img {
    width: 100px;
}

#foot-logo-desc {
    margin-left: 30px;
    font-size: 15px;
}

#foot-logo-desc p {
    line-height: 25px;
}

#social-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#social-links li:not(:nth-last-child(1)) {
    display: inline-block;
    margin-right: 18px;
}

#social-links a {
    transition: all .3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* margin: 0px 15px; */
    font-size: 18px;
}

#foot-bottom-end {
    display: flex;
}

#foot-bottom-end li {
    margin-right: 12px;
}

#foot-bottom-end li a {
    font-weight: 500;
}

#foot-bottom-right,
#okmedia {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.lang_social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-lang {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 8px;
}

.current_lang {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.current_lang img {
    width: 22px;
    object-fit: cover;
    margin-right: 3px;
}

.footer-lang li {
    cursor: pointer;
}

#other-lang {
    position: absolute;
    left: -150px;
    top: 4px;
    display: none;
}

#other-lang.active {
    display: flex;
}

.footer-lang ul li {
    margin-right: 15px;
}

#okmedia {
    display: flex;
    align-items: center;
    font-size: 15px;
}

#okmedia img {
    width: 80px;
    margin-left: 8px;
}

/* ------------------- */



/* FAQ */

#faq {
    font-size: 42px;
    line-height: 1.2;
    font-weight: 500;
    background-color: #F5F5F5;
    padding: 80px 0px 40px;
}

#faq h1 {
    text-align: center;
    color: #999;
}

#faq .accordion-title {
    font-size: 42px;
    line-height: 1.23;
    margin-bottom: 90px;
    text-align: center;
    margin-top: 60px;
    font-weight: 600;
}

#faq .accordion-item,
#faq .accordion-button {
    background: transparent;
    font-weight: 600;
    font-size: 20px;
}

#faq .accordion-body {
    font-size: 16px;
    line-height: 1.3;
}

#faq .accordion-button::after {
    background-image: url("../img/plus.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: all .3s linear;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 8px;
}


#faq .accordion-button:hover::after {
    background-image: url("../img/pluswhite.png");
    background-color: #EA1D24;
}

#faq .accordion-button:not(.collapsed)::after {
    transform: rotate(-45deg);
}

/* ------------------- */

/* static */


#static h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 60px;
}

#static button {
    background-color: transparent;
    color: #97A4B7;
    transition: all .3s linear;
    position: relative;
    font-size: 24px;
    padding-bottom: 20px;
    font-weight: 600;
}

#static button.active {
    color: #000;
}

#static button.active::after {
    width: 100%;
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 2.4px;
    background-color: #EA1D24;
    transition: all .2s linear;
}

#cat-content .nav {
    border-bottom: 1px solid #a6a6a658;
}

#cat-content {
    background: #fff;
    padding: 50px 40px;
}

#cat-content .nav-item {
    margin-right: 30px;
}

#cat-content .tab-content {
    margin-top: 35px;
}

#cat-menu {
    padding-left: 60px;
}

#cat-menu h2 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

#cat-menu a {
    color: #97a4af;
    font-size: 20px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

#cat-menu ul {
    margin: 20px 0 32px;
}

#cat-menu .active {
    color: #000;
}

#cat-menu .active::before {
    content: '';
    position: absolute;
    width: 2px;
    left: -30px;
    top: 1px;
    height: 100%;
    background-color: #EA1D24;
}
#static .tab-pane {
    line-height: 25px;
}
#static .contact_contents a{
    color: #97a4af;
}
/* Contact us */

#contact-us .contact-info,
#contact-form {
    padding: 30px;
    box-shadow: #0000001f 0px 1px 2px 0px;
    border-radius: 10px;
    text-align: center;
    min-height: 280px;
}

#contact-us .contact-info img {
    margin: 0 auto;
    display: block;
    width: 64px;
    height: 64px;
    margin-bottom: 24px;
    object-fit: cover;
}

#contact-us .contact-info p {
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 4px;
    font-size: 14px;
}

#contact-form {
    margin: 50px 0;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    padding: 15px;
    border: 1px solid #e6ecf2;
    border-radius: 4px;
    outline: none;
    margin-bottom: 30px;
    resize: none;
}

textarea {
    overflow: auto;
}

#contact-form input:focus,
#contact-form textarea:focus {
    border: 1px solid #ea1825;
}

/* -------------- */




/* slider */
#heading-slider {
    position: relative;
}

#heading-slider .swiper-slide {
    height: 700px;
}

#heading-slider .swiper-slide>img {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -1;
    object-fit: cover;
}

#heading-slider .swiper-pagination {
    bottom: 50px;
    width: 60px;
    color: #fff;
    left: 3%;
}


#heading-slider svg {
    --progress: 0;
    position: absolute;
    left: 7%;
    bottom: 0;
    width: 32px;
    height: 100%;
    z-index: 99999999999999;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(-700 * (2 - var(--progress)));
    stroke-dasharray: 50000;
    border-left: 1px solid #a6a6a658;
}

#heading-slider .container {
    position: relative;
    height: 100%;
}

#heading-slider .slide-content {
    position: absolute;
    top: 40%;
    color: #fff;
    width: 60%;
    padding-left: 60px;
}

#heading-slider .slide-content h2 {
    font-size: 3.5rem;
    margin-bottom: 30px;
}

#heading-slider .more-btn {
    color: #fff;
    display: flex;
    align-items: center;
}

#heading-slider .more-btn-icon {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    font-size: 12px;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    will-change: transform;
    -webkit-transition: 500ms all ease;
    transition: 500ms all ease;
    margin-right: 20px;
}

#heading-slider .more-btn-icon:hover {
    transform: scale(1.1);
}

.more-btn span {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* slider end */


@media only screen and (max-width: 768px) {
    .recipe-desc p:nth-child(1) {
        font-size: 24px;
        padding: 30px 0px;
    }

    footer {
        padding-bottom: 40px;
    }

    #copyright {
        flex-direction: column;
        margin-top: 20px;
    }

    #copyright img {
        margin-top: 30px;
        width: 150px;
    }

    .footer-lang {
        flex-direction: column;
    }

    #other-lang {
        position: unset;
        margin-top: 20px;
    }

    .lang_social {
        display: initial;
    }

    .footer-lang {
        justify-content: center;
        margin-top: 30px;
    }

    #mobile_nav,
    #mob_menu {
        display: block;
    }

    header nav {
        display: none;
    }

    #mob_logo,
    #mob_logo_fff {
        width: 100%;
        position: relative;
        z-index: 2;
    }

    #burger_icon {
        width: 40px;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #EA1D24;
    }

    .menu-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        z-index: 9;
    }

    .menu-wrap {
        width: 35px;
        height: 35px;
        transition: visibility .6s ease, opacity .6s ease, transform .6s ease, -webkit-transform .6s ease;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-wrapper span {
        display: block;
        letter-spacing: 1px;
        padding-left: 15px;
        text-transform: uppercase;
        transition: visibility .4s ease, opacity .4s ease, transform .4s ease;
        visibility: visible;
        opacity: 1;
    }

    .menu-wrapper .menu-wrap::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #EA1D24;
        border-radius: 50%;
        transition: background-color .4s ease, transform .4s ease;
    }

    .menu-wrapper .menu-wrap .menu-open {
        height: 5px;
        opacity: 1;
        transform: translateY(0);
    }

    .menu-icon {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
        transition: opacity 0.4s ease-in, transform 0.4s ease-in;
        position: absolute;
    }

    .menu-wrapper .menu-wrap .menu-open .line {
        width: 15px;
        height: 1px;
        background-color: #fff;
        transition: .6s ease;
    }

    .menu-wrapper span {
        padding-left: 5px;
    }

    .menu-wrap.active::before {
        background-color: #fff;
    }

    .menu-wrap.active .menu-open .line {
        background-color: #000;
    }

    #mobile_nav {
        padding: 30px 0px;
    }

    #mob_menu .accordion_card {
        border-bottom: 1px solid;
        padding: 10px 0px;
    }

    #mob_menu .collapse,
    #mob_menu .collapsing {
        padding: 0px 16px 10px;
    }

    #mob_menu .accordion-button:not(.collapsed) {
        padding-bottom: 10px;
    }

    #mob_menu .list-group .list-group .list-group-item {
        padding: 16px;
    }

    #mob_menu .list-group-item {
        border: none;
        border-top: 1px solid #5a1e1e33;
        box-shadow: inset 0.1em 0.1em 0.1em 0 rgba(255, 255, 255, 0.5), inset -0.1em -0.1em 0.1em 0 rgba(0, 0, 0, 0.5);
        margin: 5px 0px;
    }

    #mob_menu .list-group-item>.list-group-item>a {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #mob_menu .card-body>.list-group>.list-group-item:last-child {
        border-bottom: 1px solid #5a1e1e33;
    }

    .list-group-item a {
        color: #fff;
    }

    #mob_menu {
        background: #EA1D24;
        overflow: auto;
        color: #fff;
        height: 100vh;
        position: fixed;
        width: 100%;
        top: 0;
        left: 100%;
        padding-top: 100px;
        padding-bottom: 50px;
        transition: all .3s ease-in;
    }

    #mob_menu.active {
        left: 0;
    }

    #mob_menu .btn {
        width: 100%;
        text-align: left;
        font-size: 19px;
    }

    #mob_menu .accordion-button {
        color: #fff;
    }

    #mob_menu .accordion-button::after {
        filter: invert(1);
    }

    #mob_menu a:hover {
        color: #fff;
    }

    #mob_logo_fff {
        display: none;
    }

    #mob_logo.none {
        display: none;
    }

    #mob_logo_fff.show {
        display: block;
    }

    #menu_wrap_text {
        transition: all .6s ease;
    }

    #menu_wrap_text.invert {
        color: #fff;
    }

    #sign {
        margin-top: 50px;
    }

    .sign-item a {
        padding: 15px 10px;
        background-color: #000;
        display: inline-block;
        width: 100%;
        text-align: center;
        height: 100%;
        color: #fff;
        border-radius: 5px;
    }

    .sign-item:nth-child(2) a {
        background-color: #E64C21;
    }

    #mob_lang {
        margin-top: 30px;
    }

    #mob_lang a {
        display: grid;
        justify-content: center;
        min-width: 40px;
        padding: 10px;
        border-radius: 2px;
        background-color: #fff;
    }

    .menu-wrapper.opened .menu-wrap .menu-open {
        opacity: 0;
        transform: translateY(-10px);
    }

    .menu-wrapper .menu-wrap .menu-close {
        opacity: 0;
        transform: translateY(-10px);
    }

    .menu-wrapper .menu-wrap .menu-close img {
        width: 12px;
    }

    .menu-wrapper.opened .menu-wrap .menu-close {
        opacity: 1;
        transform: translateY(0);
    }

    #collapseSix .accordion-button::after {
        display: none;
    }

    #mobile_nav {
        padding: 30px 10px 30px 30px;
    }

    .join-packet {
        flex-direction: column;
    }

    .join-packet a {
        width: 100%;
        padding: 20px 15px;
    }

    .join-packet a:nth-child(2) {
        margin-top: 20px;
    }

    .title p {
        margin: 20px 0px;
        line-height: 25px;
    }

    .blog-titles {
        justify-content: center;
    }

    #recipes .card {
        width: 100%;
        box-shadow: 0px 2px 30px -9px rgba(0, 0, 0, .6);
    }

    #two_services {
        padding: 60px 0px;
    }

    #two_services h2 {
        font-size: 28px;
    }

    #title_desc p {
        font-size: 18px;
    }

    #side_services .service_item {
        height: 350px;
    }

    #title_desc {
        margin-bottom: 30px;
    }

    #side_services .service_item h3 {
        font-size: 26px;
    }

    #innov_title {
        flex-direction: column;
        align-items: flex-start;
    }

    #innov_title a {
        margin-top: 10px;
        font-size: 17px;
    }

    .pay_item {
        width: 100%;
    }

    #payment .title_desc {
        max-width: 100%;
    }

    #payment .row {
        padding: 0px 10px;
    }

    .app_content {
        padding-left: 1.5rem;
    }

    .services_nav {
        max-width: 100%;
    }

    #services .services_nav h3 {
        padding: 16px 25px 15px 25px;
    }

    #call-to-action h2 {
        font-size: 24px;
        line-height: 27px;
    }

    #call-to-action {
        overflow: hidden;
        padding: 20px;
    }

    .call-img::after {
        transform: translate(-50%, -20%);
    }

    .call-img {
        margin-top: 30px;
    }

    #social-links {
        justify-content: center;
        margin-block: 20px;
    }

    #foot-bottom-end {
        flex-direction: column;
        align-items: center;
    }

    #foot-bottom-end li {
        line-height: 25px;
    }

    #foot-bottom-right {
        flex-direction: column;
        /* margin-top: 20px; */
    }

    #foot-bottom-right div {
        line-height: 25px;
        text-align: center;
    }

    #faq .accordion-title {
        margin-bottom: 45px;
    }

    #faq .accordion-title {
        font-size: 30px;
    }

    #faq h1 {
        font-size: 24px;
        font-weight: 700;
    }

    #cat-content {
        padding: 50px 12px;
    }

    #cat-menu {
        display: initial;
        margin-top: 40px;
        padding-left: 12px;
    }

    #cat-menu .active::before {
        display: none;
    }

    #static h1 {
        font-size: 2rem;
    }

    #cat-menu h2 {
        font-size: 20px;
    }

    #static button {
        font-size: 20px;
    }

    #cat-menu a {
        font-size: 16px;
    }

    #cat-content .tab-content {
        font-size: 15px;
    }

    #contact-form {
        margin: 20px;
    }

    #heading-slider .slide-content {
        width: 100%;
    }

    #heading-slider .slide-content h2 {
        font-size: 2rem;
    }

    .more-btn-icon i {
        font-size: 14px;
    }

    #heading-slider .swiper-pagination {
        left: -20px;
        bottom: 100px;
    }
}

@media (min-width: 768px) and (max-width: 998px) {
    #bottom_menu a {
        font-size: 12px;
    }

    .join-packet {
        flex-wrap: wrap;
    }

    .join-packet a {
        width: 100%;
        padding: 20px 15px;
        margin: 5px 0px;
    }

    #services .services_nav h3 {
        font-size: 14px;
        padding: 16px 7px 15px 7px;
    }
}

@media only screen and (min-width: 1400px) {
    #app .container {
        max-width: 1200px;
    }
}

@media only screen and (min-width: 768px) {
    #foot-bottom-end li:nth-child(1) {
        margin-right: 50px;
    }
    header.fixed #header_nav_top{
        top: -53px;
        background-color: #0005;
    }
    header.fixed #header_nav_bottom{
        top: 0;
        background-color: #0005;
    }
    header.fixed .submenu>a {
        color: #fff;
    }
    #static {
        background-color: #F4F4F4;
        padding-top: 200px;
        padding-bottom: 60px;
    }
    #contact-us {
        padding-top: 200px;
        padding-bottom: 60px;
        background-color: #FBFBFB;
    }
}